* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Nave bar styleing--> */

nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background-color: #fff8f3;
}
.logo {
  font-size: 2vw;
  font-weight: 800;
  padding-left: 100px;
}
.logo span{
  color: #fd6e0a;
}

.nav-contain > ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5vw;
  padding-right: 100px;
}
.nav-contain li{
  list-style: none;
  
}
.nav-contain a{
  text-decoration: none;
  color: #474747;
}
.pry-but {
  height: 8vh;
  width: 11vw;
  font-size: 1.3vw;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  background-color: #fd6e0a;
  color: #ffffff;
}

/* Nave bar styleing <-- */

/* Home contain styleing--> */

.home-contain{
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
}
.left-side {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff8f3;
}
.left-contain {
  padding-left: 100px;
}
.left-side h4{
  font-size: 3.3vw;
  font-weight: 400;
  color: #474747;
}
.left-side h2{
  font-size: 4.8vw;
  padding: 25px 0;
}
.left-side p{
  font-weight: 400;
  padding-bottom: 25px;
  color: #474747;
}
.left-contain diff-but{
  padding: 20px 35px;
}

.right-side{
  height: 100%;
  width: 50%;
  background-color: #fff8f3;
  background-image: url("/images/header_bg.png");
  background-repeat: no-repeat;
}
.right-side img{
  height: 480px;
  margin-left: 180px;
}

/* Home contain styleing <-- */

/* Secomd contain styling--> */

.second-page {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.about-me {
  height: 70vh;
  width: 67%;
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  background-color: #fff8f3;
}
.about-art h2{
  text-align: center;
  padding-bottom: 30px;
}
.about-art p{
  text-align: center;
  padding: 0 110px;
  color: #aaa7a5;
}
.information {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  gap: 3vw;
}
.info{
  text-align: center;
}
.info h4{
  color: #aaa7a5;
  font-weight: 400;
}
.info b{
  color: #474747;
}

/* Secomd contain styling <-- */